/* header */
body {
    background-color: #F4B7BF;
}
#wrap {
    width: 1440px;
    margin: 0 auto;
    background-image: url(../img/workplace-2303851_1280\ 2.jpg);
}
#header {
    height: 1024px;
    position: relative;
}
.header_menu {
    
}
.header_forder {
    
}
.header_forder a {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    text-align: center;
    left: 30px;
    top: 30px;
}
.header_forder:active a {
    background-color: pink;
    color: #412c86;
    transition: all 0.2s;
}
.header_chat {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    left: 30px;
    top: 160px;
}
.header_internet {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    left: 30px;
    top: 290px;
}

/* main */

/* contents */

/* footer */